body.papers #buddypress ul.item-list li img.avatar {
	margin-bottom: 5em;
}

body.papers .item-meta span {
	display: block;
}

body.papers .item-meta span.paper-tags-list {
	display: inline-block;
}

body.papers .item-meta br {
	display: none;
}

body.papers #buddypress ul.item-list li div.item-desc {
	width: 80%;
}