.cacsp-group-description {
	position: relative;
	font-size: 12px;
	line-height: 140%;
    background-color: #f0f8ff;
    border: #cee1ef 1px solid;
    padding: 8px 0px 8px 0.8em;
    margin-bottom: 21px;
    border-radius: 3px;
    clear: both;
}
.cacsp-group-description > .description-text {
	margin-right: 120px;
	margin-bottom: 0;
}
.cacsp-group-description > .bp-group-new-social-paper {
	display: block;
	padding: 6px 8px;
	position: absolute;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 2px;
	right: 0;
	top: 1px;
	font-weight: bold;
	color: #555;
	text-decoration: none;
}
.cacsp-group-description > .bp-group-new-social-paper:hover {
	background-color: #eee;
	color: black;
}
.cacsp-group-pagination {
	float: left;
	line-height: 2.5em;
}
.cacsp-group-pagination-count {
	float: left;
}
.cacsp-group-pagination-links {
	float: right;

}
.cacsp-group-pagination-links a,
.cacsp-group-pagination-links span.current {
    display: block;
    float: left;
    padding: 0 5px;
    margin-left: 5px;
    border: 1px solid #efefef;
    text-decoration: none;
}
.cacsp-group-pagination-links a:hover,
.cacsp-group-pagination-links span.current {
    background: #eee;
    opacity: 0.8;
    border: 1px solid #ddd;
}

body.papers #buddypress ul.item-list li img.avatar {
	margin-bottom: 5em;
}

body.papers .item-meta span {
	display: block;
}

body.papers .item-meta span.paper-tags-list {
	display: inline-block;
}

body.papers .item-meta br {
	display: none;
}

body.papers #buddypress ul.item-list li div.item-desc {
	width: 80%;
}

.cacsp-template-notice {
	border: #cee1ef 1px solid;
	padding: 0.6em;
	margin: 5px 0 15px;
	color: #000;
	background-color: #f0f8ff;
	overflow: hidden;
}

.cacsp-template-notice.warning {
	background-color: #ffffe0;
	border-color: #e6db55;
}

.cacsp-template-notice p {
	margin: .5em 0 5px 0;
	padding: 2px;
	font-size: 12px;
	line-height: 140%;
	float: left;
}

.cacsp-template-notice a {
	color: #555;
	text-decoration: none;
}

.cacsp-template-notice.warning a {
	text-decoration: underline;
}

.create-new-paper {
	display: block;
	padding: 3px 8px;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 2px;
	font-weight: bold;
	float: right;
}
