/*
 * Social Paper print styles
 */

@media print {

	/* Elements to hide */
	#wp-link-backdrop,
	#wp-link-wrap,
	#wp-admin-bar-edit,
	#sitewide-notice,
	#atwho-container,
	#wp-auth-check-wrap,
	#incom_wrapper,
	#respond,
	.incom-ref,
	.comment-body .reply,
	.comment-edit-link,
	#wp-admin-bar-edit {
		display: none !important;
	}

	/* WP FEE compatibility */
	.fee-thumbnail-toolbar,
	.fee-insert-thumbnail,
	.fee-content-body,
	.fee-toolbar,
	.wp-core-ui,
	.mce-tinymce {
		display: none !important;
	}

	/* Set sensible defaults */
	@page {
		size: auto;
		/* set margin in printer settings */
		margin: 25mm 25mm 25mm 25mm;
	}

	* {
		background: white !important;
	}

	body {
		background: white;
		color: #000;
		font-size: 10pt;
		/* Text should be "readable" */
		font-family: Georgia, serif;
		margin: 0 !important;
		padding: 0 !important;
		right: 0 !important;
		left: 0 !important;
	}

	html, div, article, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
		width: auto !important;
		height: auto !important;
		min-height: 0 !important;
		color: #000;
		position: static !important;
	}

	/* Link style */
	a {
		color: #000 !important;
		text-decoration: underline;
	}

	/* Headings should be "legible" */
	h1, h2, h3, h4, h5, h6,
	article h1, article h2, article h3, article h4, article h5, article h6 {
		padding-left: 0;
		padding-right: 0;
		color: #000;
		font-weight: bold;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		/* Avoid printed page breaks immediately after headers, or in middle of images or blockquotes */
		page-break-after: avoid;
		page-break-inside: avoid;
		text-transform: none;
	}

	/* Headings as links are superfluous */
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: #000;
		text-decoration: none;
	}

	article p {
		margin: 1em 0;
		padding: 0;
		line-height: 2;
	}

	article address,
	article pre {
		margin: 1em 0;
		padding: 0;
		line-height: 1.5;
	}

	article ul,
	article ol {
		width: auto !important;
		margin: 1em 0 1em 2em;
		padding: 0;
		line-height: 1.5;
	}

	article ul li,
	article ol li {
		margin-bottom: 2pt;
		line-height: 1.5;
	}

	article dd
	{
		line-height: 1.5;
	}

	article pre
	{
		padding: 1em;
		white-space: pre-wrap;
		overflow: visible;
	}

	/* layout preferences for other elements */
	img {
		page-break-inside: avoid;
		page-break-after: avoid;
	}

	blockquote,
	table,
	pre {
		page-break-inside: avoid;
	}

	blockquote {
		margin: 0;
		padding-left: 10pt;
		border-left: 1px solid #aaa;
		font-style: italic;
	}

	table {
		width: auto;
	}

	table th,
	.post table th,
	table td,
	.post table td {
		border: 1px solid #ccc;
	}

	ul,
	ol,
	dl {
		page-break-before: avoid;
	}

	.entry-footer {
		page-break-inside: avoid;
	}

	/* restore min height on article meta */
	.entry-author {
		min-height: 50px !important;
	}

	#comments {
		font-size: 10pt;
	}

	.comment-body {
		padding-bottom: 1em;
	}

}
